@import "bootstrap";

//$gutter e o espaçamento padrao. Vamos utilizar o mesmo do bootstrap.
$gutter: $grid-gutter-width;


//Transicao padrao para nosso prototipo
.transition{
    -webkit-transition:all .3s ease-in-out;
       -moz-transition:all .3s ease-in-out;
        -ms-transition:all .3s ease-in-out;
         -o-transition:all .3s ease-in-out;
            transition:all .3s ease-in-out
}


.page-title{
    @include make-xs-column(12);
    @extend .text-center;
    padding-bottom: $gutter * 2;
}

.form-horizontal{
    @include make-xs-column(12);
    @include make-sm-column(6);
    @include make-sm-column-offset(3);
    .form-group{
        @include make-row();
        .control-label{
            @include make-xs-column(12);
            @include make-sm-column(2);
        }
        .form-input{
            @include make-xs-column(12);
            @include make-sm-column(10);
        }
        .form-button{
            @include make-xs-column(12);
            @include make-sm-column-offset(2);
            @include make-sm-column(10);
        }
    }
}

.lista-tarefas{
    @extend .list-unstyled;
    margin-top: $gutter;

    .tarefas{
        @include make-xs-column(12);
        @include make-sm-column(4);
        @include make-lg-column(3);
        @extend .pull-left;
        margin-bottom:$gutter;
        cursor: move;

        .postit{
            padding: $gutter;
            position: relative;
            color: #000;
            border:1px solid #E8E8E8;
            background: #ffff88;

            .titulo{
                display: block;
                font-size: 16px;
                font-weight: bold;
            }

            &:hover{
                border-color: #bfbfbf;
            }

        }

        .btn-remover{
            @extend .transition;
            cursor: pointer;
            position: absolute;
            right: 5px;
            top: 5px;
            opacity:0.2;
            &:hover{
                opacity:1;
            }
        }

        .btn-editar{
            @extend .transition;
            cursor: pointer;
            position: absolute;
            right: 35px;
            top: 5px;
            opacity:0.2;
            &:hover{
                opacity:1;
            }
        }

        input{
            margin-bottom: $gutter/2;
            font-weight: normal;
            font-size: 12px;
        }

    }
}